*:not(dialog) {
  margin: 0;
  padding: 0;
}

:root {
  --engle: "Englebert", cursive;
  --light-gray: #e2e2e2;
  --pastel-red: #ff7070;
  --pastel-green: #a1ffb0;
  --pastel-yellow: #fff286;
  --pastel-cyan: #a1ffe7;
  --pastel-pink: #ffcbcb;
  --red: #ff4545;
  --dark-gray: #616161;
  --trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --white: #ffffff;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.priorityCircles {
  display: flex;
  gap: 8px;
}

.priorityCircles * {
  display: flex;
  align-items: center;
}

.highlightedCircle{
  border: 2px solid black;
  border-radius: 50%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  overflow: hidden;
  font-family: var(--trebuchet);
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-gray);
  padding: 12px 25px;
}

.logoHeader {
  font-family: var(--engle);
  font-size: 2rem;
}

.projectsHeader{
  font-family: var(--engle);
  font-size: 2.5rem;
}

.sidebar footer {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar footer a {
  display: flex;
  align-items: center;
}

.projects:empty {
  display: none;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  gap: 2px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
}

.projectButton.selectedProject {
  background-color: var(--dark-gray);
  color: var(--white);
  border-radius: 6px;
}

.projectButton {
  font-size: 1.05rem;
  border: none;
  background-color: inherit;
  font-family: var(--trebuchet);
  padding: 5px 5px;
  cursor: pointer;
  text-align: left;
}

.content {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.contentH1 {
  font-family: var(--engle);
  font-size: 2.5rem;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  padding-right: 80px;
  align-items: center;
  position: sticky;
  background-color: rgb(248, 248, 248);
}

.contentButtons {
  display: flex;
  gap: 25px;
}

.contentButtons button {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.contentButtons .addToDo {
  background-color: var(--pastel-cyan);
  padding: 5px 10px;
  border-radius: 8px;
  font-family: var(--trebuchet);
  font-size: 1.2rem;
  font-weight: bold;
}

.contentButtons button:hover svg,.contentButtons button:hover svg path {
  fill: rgb(255, 191, 0);
}

.toDoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  height: 560px;
  padding: 40px;
}

.toDo.priority2 {
  background-color: var(--pastel-red);
}

.toDo.priority1 {
  background-color: var(--pastel-yellow);
}

.toDo.priority0 {
  background-color: var(--pastel-green);
}

.toDoTask {
  font-weight: bold;
}

.toDo {
  display: flex;
  padding: 25px 40px;
  border-radius: 10px;
  justify-content: space-between;
  font-size: 1.4rem;
  font-family: var(--trebuchet);
}

.belowToDo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
}

.belowListItemDiv {
  display: flex;
  gap: 10px;
  align-items: center;
}

.toggleSwitchSvgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.toDo.priority2+.belowToDo {
  border: 5px solid var(--pastel-red);
}

.toDo.priority1+.belowToDo {
  border: 5px solid var(--pastel-yellow);
}

.toDo.priority0+.belowToDo {
  border: 5px solid var(--pastel-green);
}

.toDoContainerWithDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 50px;
  margin-right: 80px;
}

.descriptionTag {
  font-family: var(--trebuchet);
  font-size: 1.9rem;
}

.toDoFlexContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}

.toDoRightSide {
  display: flex;
  align-items: center;
  gap: 25px;
}
.projectHeaderContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toDoTickBox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.itemDivFlexContainer {
  display: flex;
  justify-content: space-between;
}

.toDoDeleteButton {
  align-self: flex-end;
  border: none;
  border: 3px solid black;
  padding: 5px 10px;
  border-radius: 9999px;
  cursor: pointer;
}

.toDo.priority2+.belowToDo .toDoDeleteButton {
  background-color: var(--pastel-red);
}

.toDo.priority1+.belowToDo .toDoDeleteButton {
  background-color: var(--pastel-yellow);
}

.toDo.priority0+.belowToDo .toDoDeleteButton {
  background-color: var(--pastel-green);
}

.belowToDo.hidden {
  display: none;
}

.dropDownContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.addAProject {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.addAProject:hover svg path {
  stroke: rgb(255, 191, 0);
}

.projectContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.noProjectSelected {
  align-self: center;
}

h2.noProjects {
  align-self: center;
  font-family: var(--engle);
  font-size: 2.5rem;
}

.toDoContainer.noProjectsInContainer {
  justify-content: center;
}

.addProjectDialogForm {
  display: flex;
  gap: 23px;
}

.projectDialogFlexContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectFormLabel {
  font-family: var(--engle);
  font-size: 1.1rem;
}

.addProjectSubmitButton {
  font-family: var(--trebuchet);
}

.closeButtonProject {
  align-self: flex-start;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.addProjectDialog {
  background-color: var(--pastel-cyan);
}

.showIfNoToDos.hidden {
  display: none;
}

.showIfNoToDos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentHeader.noProjectsInContainer {
  display: none;  
}