* {
  margin: 0;
  padding: 0;
}

:root {
  --engle: "Englebert", cursive;
  --light-gray: #e2e2e2;
  --pastel-red: #ff7070;
  --pastel-green: #a1ffb0;
  --pastel-yellow: #fff286;
  --pastel-cyan: #a1ffe7;
  --pastel-pink: #ffcbcb;
  --red: #ff4545;
  --dark-gray: #616161;
  --trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --white: #ffffff;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-gray);
  padding: 12px 25px;
}

.logoHeader {
  font-family: var(--engle);
  font-size: 2rem;
}

.projectsHeader{
  font-family: var(--engle);
  font-size: 2.5rem;
  margin-top: 80px;
}

.sidebar footer {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar footer a {
  display: flex;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  gap: 2px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
}

.projectButton.selectedProject {
  background-color: var(--dark-gray);
  color: var(--white);
  border-radius: 6px;
}

.projectButton {
  font-size: 1.05rem;
  border: none;
  background-color: inherit;
  font-family: var(--trebuchet);
  padding: 5px 5px;
}

.content {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.contentH1 {
  font-family: var(--engle);
  font-size: 2.5rem;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  padding-right: 80px;
  align-items: center;
  position: sticky;
  background-color: rgb(248, 248, 248);
}

.contentButtons {
  display: flex;
  gap: 25px;
}

.contentButtons button {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.contentButtons .addToDo {
  background-color: var(--pastel-cyan);
  padding: 5px 10px;
  border-radius: 8px;
  font-family: var(--trebuchet);
  font-size: 1.2rem;
  font-weight: bold;
}

.contentButtons button:hover svg,.contentButtons button:hover svg path {
  fill: rgb(255, 191, 0);
}

.toDoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  height: 560px;
  padding: 40px;
}

.toDo.priority2 {
  background-color: var(--pastel-red);
}

.toDo.priority1 {
  background-color: var(--pastel-yellow);
}

.toDo.priority0 {
  background-color: var(--pastel-green);
}

.toDoTask {
  font-weight: bold;
}

.toDo {
  display: flex;
  padding: 25px 40px;
  margin: 0px 50px;
  margin-right: 80px;
  border-radius: 10px;
  justify-content: space-between;
  font-size: 1.4rem;
  font-family: var(--trebuchet);
}

.toDoFlexContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}

.toDoRightSide {
  display: flex;
  align-items: center;
  gap: 15px;
}