* {
  margin: 0;
  padding: 0;
}

:root {
  --mynerve: "Mynerve", cursive;
  --light-gray: #e2e2e2;
  --pastel-red: #ff7070;
  --pastel-green: #a1ffb0;
  --pastel-yellow: #fff286;
  --pastel-cyan: #a1ffe7;
  --pastel-pink: #ffcbcb;
  --red: #ff4545;
  --dark-gray: #616161;
  --trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --white: #ffffff;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.sidebar {
  flex: 1;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-gray);
  padding: 12px 25px;
}

.sidebar h1 {
  font-family: var(--mynerve);
  font-size: 2.9rem;
}

.sidebar h2 {
  font-family: var(--mynerve);
  font-size: 2.2rem;
  margin-top: 80px;
}

.sidebar footer {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar footer a {
  display: flex;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  gap: 2px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
}

.projectButton.selectedProject {
  background-color: var(--dark-gray);
  color: var(--white);
  border-radius: 6px;
}

.projectButton {
  font-size: 1.05rem;
  border: none;
  background-color: inherit;
  font-family: var(--trebuchet);
  padding: 5px 5px;
}

.content {
  flex: 6;
}
